body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1290px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:29px;
  width:125px;
  height:42px;
  display:flex;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:7px;
  width:115px;
  height:36px;
  display:flex;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:50px;
  width:138px;
  height:37px;
  display:flex;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Bahnschrift Light", "Bahnschrift", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:72px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:288px;
  width:1px;
  height:86px;
  display:flex;
  font-family:"Bahnschrift Light", "Bahnschrift", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:72px;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:464px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:171px;
  width:470px;
  height:464px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:641px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:756px;
  width:582px;
  height:641px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:151px;
  width:1100px;
  height:55px;
  display:flex;
  font-family:"Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:654px;
  width:1056px;
  height:83px;
  display:flex;
  font-family:"Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u74 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:261px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1063px;
  width:259px;
  height:261px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:237px;
  width:467px;
  height:332px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:756px;
  width:467px;
  height:332px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1069px;
  width:582px;
  height:55px;
  display:flex;
  font-family:"Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1149px;
  width:300px;
  height:120px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1387px;
  width:111px;
  height:28px;
  display:flex;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u80.mouseOver {
}
#u80_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1284px;
  height:2px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1436px;
  width:1283px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.07822293409294853deg);
  -moz-transform:rotate(0.07822293409294853deg);
  -ms-transform:rotate(0.07822293409294853deg);
  transform:rotate(0.07822293409294853deg);
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:1448px;
  width:212px;
  height:22px;
  display:flex;
  font-family:"Bahnschrift", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#333333;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1454px;
  width:45px;
  height:27px;
  display:flex;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#333333;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#333333;
}
#u83.mouseOver {
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#333333;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1481px;
  width:98px;
  height:33px;
  display:flex;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#333333;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#333333;
}
#u84.mouseOver {
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  text-align:center;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1514px;
  width:56px;
  height:23px;
  display:flex;
  font-family:"Times New Roman Oblique", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  text-align:center;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
